<!DOCTYPE html>
<html lang="en">
​

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/icon.ico">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    ​
</head>
​

<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand ml-4" href="/Authusers/homepage">
            <img src="https://newsinhealth.nih.gov/sites/nihNIH/files/styles/featured_media_breakpoint-large/public/2018/February/illustration-people-different-types-pets.jpg?itok=Aalkb5Aa"
                width="30" height="30" style="border-radius: 50%;" class="d-inline-block align-top" alt="">
            Petbook
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        ​
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="navbar-nav mr-auto ml-4">
                <input class="form-control mr-sm-2" style="width: 500px;" type="search" placeholder="Search"
                    aria-label="Search">
                <div class="form-group has-feedback">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
            <ul class="navbar-nav ml-auto mr-sm-4">
                <li class="nav-item active">
                    <a class="nav-link mr-sm-4" href="/Authusers/homepage">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link mr-sm-4" href="/Authusers/profile">MyProfile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link mr-sm-4" href="/Authusers/logout">LogOut</a>
                </li>
            </ul>
            ​
        </div>
    </nav>
    </br>
    ​
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-dark text-light sticky-top border-right border-left-0 border-top-0 border-bottom-0  border-success"
                    style="height: 500px;">
                    <!-- <div class="card-header">Suggestion</div> -->
                    <div class="card-body">
                        <div class="text-center">
                            <img class="" src="{{user_data.profile_pic}}" width="100" height="100"
                                style="border-radius: 50%;" class="d-inline-block align-top" alt="">
                            <h4 class="mt-2 text-center">{{user_data.pet_name}}</h4>

                        </div>




                        <hr class="border-white">
                        <div class="text-center">
                            <div class="mb-2">
                                <span class="fa fa-star checked" id="ratingstar1"></span>
                                <span class="fa fa-star checked" id="ratingstar1"></span>
                                <span class="fa fa-star checked" id="ratingstar1"></span>
                                <span class="fa fa-star" id="ratingstar1"></span>
                                <span class="fa fa-star" id="ratingstar1"></span>
                            </div>
                            <button type="button" class="btn btn-light btn-sm">followers<span
                                    class="badge badge-dark ml-2 rounded-circle"
                                    id="follower_count">{{user_data.followers.length}}</span></button>
                            <button type="button" class="btn btn-light btn-sm">following<span
                                    class="badge badge-dark ml-2 rounded-circle"
                                    id="followings_count">{{user_data.followings.length}}</span></button>
                        </div>


                    </div>
                </div>
            </div>
            ​
            <div class="col-md-6">
                <div class="card bg-dark">
                    <div class="card-header text-dark bg-dark" style="padding: 0%;margin:0px">
                        <h4 class="text-light">Create Post</h4>
                    </div>
                    <div class="form-group card-body" style="padding: 0%;margin:0px">
                        <textarea class="form-control bg-dark text-light" placeholder="Write Something Here!"
                            id="post_caption" rows="3"></textarea>
                        <label for="attachment1" class="btn btn-primary mt-2 bg-dark ml-1">Add Photo/Video</label>
                        <input type="file" id="attachment1" style="display: none;">
                        <input type="hidden" id="petname" value="{{user_data.pet_name}}">
                        <button type="button" class="btn btn-primary bg-dark ml-2" id="share_post">Post</button> ​
                    </div>

                    ​
                </div>
                ​
                <hr class="border-success">
                <div id="display_post">
                    ​{{#each post_data}}
                    <div class="card py-2 mt-2 bg-dark text-light " id="{{this._id}}">
                        <div class="card-body">
                            <h4 class="card-title"> <a href="/Authusers/viewprofile?id={{this.user_id}}"
                                    class="text-light"> {{this.pet_name}}</a></h4>
                            <p class="card-text">{{this.caption}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img src="{{this.post_media}}" class="card-img-top" alt="...">
                        <div class="d-flex justify-content-between mt-1 p-2">
                            {{#inArray this.likes ../user_data.user_id}}
                            <button class="btn btn-outline-danger btn-sm likebtn" value="{{this._id}}">unlike</button>
                            {{else}}
                            <button class="btn btn-outline-success btn-sm likebtn" value="{{this._id}}">like</button>
                            {{/inArray}}
                            <button type="button" class="btn btn-outline-success btn-sm cmnt" data-toggle="collapse"
                                data-target="#comments{{this._id}}">Comment</button>
                            <button type="button" class="btn btn-outline-success btn-sm" disabled> Share </button>
                        </div>
                        <div class="p-2 collapse" id="comments{{this._id}}">
                            <p style="display: none;">{{sort this.comments "date"}}</p>
                            <div class="mb-5">
                                <div>
                                    <textarea cols="102" rows="2"></textarea>
                                    <button class="btn btn-info btn-sm savecmnt float-right">comment</button>
                                </div>

                            </div>
                            
                            {{#each this.comments}}
                            <div class="bg-light text-dark rounded">
                                <a href="#">{{this.pet_name}}</a>
                                <p>{{this.comment}}</p>
                            </div>
                            {{/each}}
                        </div>

                    </div>
                    ​{{/each}}
                </div>
            </div>
            ​
            ​
            <div class="col-md-3">
                <div class="card bg-dark sticky-top border-right-0 border-left border-top-0 border-bottom-0  border-success"
                    style="height: 500px;">
                    <div class="card-header text-light border-white">Pets Around</div>
                    <div class="pagination">
                        <div class="card-body">
                            {{#each alluser}}
                            <div class="container p-2 my-1 d-flex justify-content-between">
                                <div>
                                    <a href="/Authusers/viewprofile?id={{this.user_id}}" class="text-light mr-5"><img
                                            class="mr-2" src="{{this.profile_pic}}" width="50" height="50"
                                            style="border-radius: 50%;" class="d-inline-block align-top"
                                            alt="">{{this.pet_name}}</a>
                                </div>
                                <div>
                                    {{#inArray this.followers ../user_data.user_id}}
                                    <button class="ml-5 btn btn-outline-danger btn-sm fll_btn"
                                        value="{{this.user_id}}">Unfollow</button>
                                    {{else}}
                                    <button class="ml-5 btn btn-outline-success btn-sm fll_btn"
                                        value="{{this.user_id}}">follow</button>
                                    {{/inArray}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            ​
            ​
            ​
            ​
        </div>
    </div>
    ​
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/homepage.js"></script>
    ​
</body>
​

</html>